.tab-community {
    display: none !important;
}

a#community-tab.publisher-color {
    display: none !important;
}

div.thread-share-bar-buttons {
    visibility: hidden !important;
}


.comments {
    color: #faebd7;
    border-style: 0px solid;
    border-color: #cccccc;
    padding: 5px;
    background: #131101;
    padding: 5%;
    margin-left: 3%;
    margin-right: 3%;
}