.intro-paragraph {
    text-align: justify;
    line-height: 2.0;
    padding: 0 30% 0 30%;
    font-size: 18pt;
}

.intro-paragraph p {
    border-left: 4px solid #dfa612;
    padding-left: 15px;
}

.your-host {
    text-align: center;
}

.your-host .the-title {
    color: #dfa612;
    font-weight: 100;
}

.your-host .me-image {
    width: 30%;
    height: 20%;
}

.your-host p {
    font-size: 18pt;
    text-align: justify;
    padding: 0 30% 0 30%;
}

.mascot-img {
    width: 30%;
    height: 30%;
    margin: 0;
    z-index: 4;
    float: right;
    overflow: auto;
    padding-bottom: 10%;
}

.ab-dm {
    font-family: 'Raleway', sans-serif !important;
}

.p-content {
    padding-top: 8%;
}

.c-info {
    text-align: center;
}

.c-info .lte {
    font-weight: 100 !important;
}

@media (max-width: 360px) {
    .intro-paragraph {
        line-height: 1.5;
        padding: 0 5% 0 5%;
        font-size: 12pt;
    }

    .your-host .me-image {
        width: 90%;
        height: 50%;
    }

    .your-host p {
        font-size: 12pt;
        padding: 0 5% 0 5%;
    }
}