.the-content {
  color: antiquewhite;
  background: rgb(53, 56, 59);
  background: linear-gradient(
    90deg,
    rgba(53, 56, 59, 1) 21%,
    rgba(107, 86, 34, 1) 100%
  );
  width: 800px;
  border-radius: 95px;
  margin-left: 20%;
  font-weight: 200;
  z-index: 999;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

.ab-comp {
  text-align: center;
  font-size: 18pt;
}

.intro-paragraph {
  text-align: justify;
  line-height: 1.7;
  padding: 10% 10% 0 10%;
  font-size: 18pt;
}

.intro-paragraph p {
  padding-left: 15px;
}

.your-host {
  text-align: center;
  font-size: 18pt;
}

.your-host .the-title {
  color: #dfa612;
  font-weight: 100;
}

.ab-dm {
  font-size: 24pt;
  font-weight: lighter;
  text-align: center;
  padding-top: 85px;
  color: #efbb35;
}

.your-host .me-image {
  width: 35%;
  height: 20%;
  margin-left: 32%;
  border-radius: 50px;
}

.your-host p {
  font-size: 18pt;
  text-align: justify;
  padding: 0 10% 10% 10%;
}

.mascot-img {
  width: 30%;
  height: 30%;
  margin: 0;
  z-index: 4;
  float: right;
  overflow: auto;
  padding-bottom: 10%;
}

.ab-dm {
  font-family: "Raleway", sans-serif !important;
}

.c-info {
  text-align: center;
}

.c-info .lte {
  font-weight: 100 !important;
}

@media (max-width: 600px) {
  .the-content {
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
  }
  .ab-comp {
    text-align: center;
    font-size: 18pt;
    margin-left: 4%;
  }

  .your-host p {
    font-size: 18pt;
    text-align: justify;
    padding: 0 0 0 0;
  }

  .the-content {
    width: 100%;
  }

  .intro-paragraph {
    line-height: 1.5;
    padding: 8% 6% 0 6%;
    font-size: 12pt;
  }

  .your-host .me-image {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  .your-host p {
    font-size: 12pt;
    padding: 0 5% 10% 5%;
  }
}

@media (max-width: 400px) {
  .the-content {
    width: 90% !important;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px;
  }
  .ab-comp {
    text-align: center;
    font-size: 16pt;
    margin-left: 2%;
  }

  .your-host p {
    font-size: 18pt;
    text-align: justify;
    padding: 0 0 0 0;
  }

  .the-content {
    width: 100%;
  }

  .intro-paragraph {
    line-height: 1.5;
    padding: 15% 5% 0 1%;
    font-size: 11pt;
  }

  .your-host .me-image {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  .your-host p {
    font-size: 11pt;
    padding: 0 5% 10% 5%;
  }
}
